
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Nunito:600|Open+Sans|Raleway');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


main{
  background-color: #ffffff;
}

.sector-grey{
  background-color: #e6e6e6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bg-grey{
  background-color: #eeeeee;
}

.sector-white{
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}


.sector-content{
  padding: 20px 10px 20px 10px;
}

.sector-content h2{
  color: #33a2c7;
  font-size: 2.625em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.sector-content p{
  color:#545555;
  font-family: 'Raleway', sans-serif;
}


.navbar-laravel {
  background-color: #2b3f47;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
  padding: 0;
}

.navbar-nav {
  background-color: #f8f8f8;
  padding-right: 10px;
}

.nav-link {
  color: #2b3f47!important;
  text-align: right;
  border-bottom: 1px solid #33a2c7;
  font-weight: 500;
  padding: 15px 10px 15px 0;
}

.navbar-toggler{
  margin-right: 10px;
}

.branding {
  background-color: #33a2c7;
  padding: 15px;
}

.branding:hover {
  background-color: #33c77a;
}

.logo {
  width:70px;
}

.border-right {
  border-right:1px solid rgba(255, 255, 255, 0.1)!important;
}

footer {
  padding: 10px 0;
  background: #dbdbdb;
  color: #5c5c5c;
  font-size: 12px;
  font-family:'Open Sans', sans-serif;
}

footer p {
  margin: 0;
}

footer h4 {
  font-size: 1.5em;
}

footer a {
  color: #5c5c5c;
}

footer a:hover {
  color: #33a2c7; }


.footer_logo {
  margin-bottom: 20px; }

.green-dropdown {
  margin-top:10px;
  background-color: #2b3f47;
}

.green-item {
  background-color: #2b3f47;
  color: #FFFFFF;
}

.blog-item {
  background-color: #ffffff;
  margin-bottom: 15px;
}

.blog-item h3{
  font-size: 1.2em;
  margin: 20px 10px 0 10px;
  color: #33a2c7;
  font-weight: 600;
}

.blog-item h4{
  font-size: 1em;
  margin: 10px 10px 0 10px;
  color: #2b3f47;
  font-weight: 600;
}

.blog-item img{
  width: 100%;
  height: auto;
}

.blog-item hr{
  margin: 10px 10px 10px 10px;
  width: 20%;
  background-color: #33a2c7;

}

.blog-item i{
  color:#33a2c7;
  font-size: 1em;
  padding-right: 10px;
}

.blog-item p {
  line-height: 18pt;
  font-size: 0.938em;
  margin: 10px 10px;
  color: #545555
}

.sectors {
  background-image: url("/css/assets/sectors_image.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px 30px;
  min-height: 550px;
}

.sectors p{
  font-size: 0.75em;
}

.sector-information{
  background-color: rgba(255,255, 255, 0.75);
  line-height: 2;
  margin-top: 10px;
}

.sector-information a{
  display: block;
}

.sectors-carousel {
  background-image: url("/css/assets/backgrounds/automotive-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  width: 100%;
  color: #FFFFFF;
  padding-top: 40px;
  text-shadow: 2px 2px 4px #000000;
}

.sectors-carousel h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.sectors-carousel p{
  font-family: 'Raleway', sans-serif;
  text-space: 3em;
}

.contact-carousel {
  background-image: url("/css/assets/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  width: 100%;
  padding: 30px;
}

.sales-info h3{
  color: #33a2c7;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.sales-info hr{
  margin-top: 0.8rem;
}

.sales-info h5{
  padding-top: 10px;
  line-height: 1.5em;
  font-size: 1em;
}

.sales-info i{
  padding-right: 10px;
  color:#33a2c7;
}

.sales-info img{
  padding-top: 20px;
}

.passenger-bg {
  background-image: url("/css/assets/backgrounds/passenger-background.png");
}

.buses-bg {
  background-image: url("/css/assets/backgrounds/buses-background.png");
}

.components-bg {
  background-image: url("/css/assets/backgrounds/components-background.png");
}

.petrochemical-bg {
  background-image: url("/css/assets/backgrounds/petrochemical-background.png");
}

.power-bg {
  background-image: url("/css/assets/backgrounds/power-background.png");
}

.property-bg {
  background-image: url("/css/assets/backgrounds/property-background.png");
}

.health-bg {
  background-image: url("/css/assets/backgrounds/health-background.png");
}

.sectors-carousel hr {
  margin: 5px 0 25px 0;
  width: 15%;
  background-color: #33a2c7;
  height: 5px;
}
.sectors-carousel h1 {
  padding-bottom: 10px;
  font-size: 2.625em;
}

.sectors-carousel p {
  line-height: 1.8rem;
}

.blue-heading h2{
  color: #33a2c7;
  font-size: 2.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  text-transform: uppercase;

}

.pagination {
  padding-top: 15px;
}

.blog-link{
  background-color: #3490dc;
  position: absolute;
  right: 15px;
  bottom: 15px;
  color:#FFFFFF;
  font-family:'Source Sans Pro', sans-serif;
  padding:5px 15px;
}

.post-single h1{
  color: #33a2c7;
  font-size: 2.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

.post-single h2{
  color: #33a2c7;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

.blue-heading hr {
  margin: 15px 0 25px 15px;
  width: 15%;
  background-color: #33a2c7;
  height: 5px;
}

.list-group-item.active {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-right:3px solid #33a2c7;
  color:#33a2c7;
}

.list-group-item{
  padding: 0.5rem 1.25rem;
  background-color: rgba(255,255, 255, 0.75);
  font-weight: 600;
}



.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 90vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.about h2 {
  line-height: 1.9;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 20px ;
  margin-bottom: 20px;

}

.about p{
  line-height: 1.9;

  font-size: 1.2em;

}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(2);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: #33a2c7;

}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
  background-image: url("/css/assets/bg7.jpg");

}

.bg2::after {
  background-image: url("/css/assets/bg3.jpg");

}

.background_wrapper2 {
  background: rgba(58, 26, 43, 0.8);
  box-shadow: inset 0 -10px 42px rgba(0, 0, 0, 0.4);

}

.homepage-carousel {
  background-image: url("/css/assets/carousel_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Center the image */
  width: 100%;
  padding: 40px 15px;
  margin: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.homepage-carousel h2{
  color: #33a2c7;
  font-size: 1.688em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

}


.homepage-carousel hr{
  margin: 5px 0 25px 0;
  width: 15%;
  background-color: #33a2c7;

}

.homepage-carousel p{
  line-height: 2;
  color:#555555;
  margin-bottom: 25px;
}

.ethos hr{
  margin: 5px 0 25px 0;
  width: 15%;
  background-color: #33a2c7!important;

}

.ethos i {
  color:#3e9e4c;
  padding-right: 15px;
  font-size: 2em;
}

.terms-conditions hr{
  margin: 5px 0 25px 0;
  width: 15%;
  background-color: #33a2c7!important;

}

.terms-conditions h4{
  color:#33a2c7;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 10px;
}


@media (min-width: 576px) {

  .sectors {
    background-image: url("/css/assets/sectors_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Center the image */
    padding: 40px 30px;
  }

  .sector-information{
    margin-top: 0;
  }

  .sector-information a{
    display: inline;
  }

  .sectors-carousel {
    min-height: 550px;
  }

  .sectors-carousel h1 {
    padding-top: 40px;
  }

  .sectors-carousel p {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
    font-size: 1.4em;
    line-height: 2.4rem;
  }

  .green-dropdown {
    margin-top:10px;
    background-color: #33a2c7;
  }

  .green-item {
    background-color: #33a2c7;
    color: #FFFFFF;
  }

  .navbar-nav {
    background-color: #2b3f47;
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.5)!important;
    text-align: left;
    border: none;
    font-weight: normal;
  }

  .bg-grey{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .blog-item {
    margin-bottom: 0;
  }

}